target
third-party
.*
!.gitignore
*.iml
bin
build
/build
data
logs
tmp
temp
src/main/resources/application.*
src/main/resources/environment.*
env/*/*/build
env/*/*/bin
dep/build
dep/bin
*.log
!.zappr.yaml
out/
target/
